In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [5]:
df=pd.read_csv("dataset/car_rental_cleaned.csv")
df

,Car_ID,Brand,Model,Year,Fuel_Type,Transmission,Mileage,Engine_CC,Body_Type
0,1,Toyota,Innova,2024.0,CNG,Manual,27.3,800.0,Sedan
1,2,Kia,EV6,2023.0,Diesel,Manual,16.4,2500.0,Convertible
2,3,Maruti Suzuki,Dzire,2016.0,Petrol,Manual,17.6,2000.0,Sedan
3,4,Honda,Amaze,2019.0,Petrol,Manual,19.2,2500.0,Convertible
4,5,Honda,City,2015.0,Electric,Manual,15.8,1000.0,Hatchback
...,...,...,...,...,...,...,...,...,...
9995,9996,Tata Motors,Altroz,2021.0,CNG,Automatic,24.9,2500.0,Coupe
9996,9997,Honda,WR-V,2024.0,Diesel,Automatic,21.4,1000.0,SUV
9997,9998,Mahindra,XUV300,2020.0,Electric,Manual,27.0,1200.0,Hatchback
9998,9999,Renault,Duster,2020.0,Diesel,Manual,24.3,1800.0,Hatchback
9999,10000,Toyota,Urban Cruiser,2018.0,CNG,Automatic,21.5,1200.0,SUV