In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [3]:
car_rental=pd.read_csv("dataset/car rental dataset.csv")

In [4]:
car_rental.head()

,Car_ID,Brand,Model,Year,Fuel_Type,Transmission,Price,Mileage,Engine_CC,Seating_Capacity,Service_Cost,Color,Owner_Type,State,Insurance_Status,Manufacturing_Plant,Number_of_Repairs,Previous_Accidents,Body_Type
0,1,Toyota,Innova,2024.0,CNG,Manual,2020000.0,27.3,800.0,4.0,24100.0,Green,Second,Tamil Nadu,Insured,Pune,2.0,4,Sedan
1,2,Kia,EV6,2023.0,Diesel,Manual,1770000.0,16.4,2500.0,7.0,18800.0,Blue,Third,Delhi,Not Insured,Manesar,8.0,4,Convertible
2,3,Maruti Suzuki,Dzire,2016.0,Petrol,Manual,3430000.0,17.6,2000.0,6.0,24700.0,Grey,First,Tamil Nadu,Insured,Surat,2.0,1,Sedan
3,4,Honda,Amaze,2019.0,Petrol,Manual,1610000.0,19.2,2500.0,6.0,23300.0,Green,Second,Delhi,Not Insured,Sanand,8.0,0,Convertible
4,5,Honda,City,2015.0,Electric,Manual,1840000.0,15.8,1000.0,5.0,5800.0,Red,Second,Karnataka,Insured,Manesar,0.0,4,Hatchback

In [5]:
#selecting features

In [6]:
car_rental.columns

Index(['Car_ID', 'Brand', 'Model', 'Year', 'Fuel_Type', 'Transmission',
       'Price', 'Mileage', 'Engine_CC', 'Seating_Capacity', 'Service_Cost',
       'Color', 'Owner_Type', 'State', 'Insurance_Status',
       'Manufacturing_Plant', 'Number_of_Repairs', 'Previous_Accidents',
       'Body_Type'],
      dtype='str')

In [7]:
car_rental.drop(['Price','Seating_Capacity', 'Service_Cost','Color', 'Owner_Type', 'State', 'Insurance_Status',
       'Manufacturing_Plant', 'Number_of_Repairs', 'Previous_Accidents'],inplace=True,axis=1)

In [8]:
car_rental.columns

Index(['Car_ID', 'Brand', 'Model', 'Year', 'Fuel_Type', 'Transmission',
       'Mileage', 'Engine_CC', 'Body_Type'],
      dtype='str')

In [9]:
car_rental.head(10)

,Car_ID,Brand,Model,Year,Fuel_Type,Transmission,Mileage,Engine_CC,Body_Type
0,1,Toyota,Innova,2024.0,CNG,Manual,27.3,800.0,Sedan
1,2,Kia,EV6,2023.0,Diesel,Manual,16.4,2500.0,Convertible
2,3,Maruti Suzuki,Dzire,2016.0,Petrol,Manual,17.6,2000.0,Sedan
3,4,Honda,Amaze,2019.0,Petrol,Manual,19.2,2500.0,Convertible
4,5,Honda,City,2015.0,Electric,Manual,15.8,1000.0,Hatchback
5,6,Kia,Sonet,2020.0,Petrol,Manual,21.5,1800.0,Convertible
6,7,Toyota,Glanza,2019.0,CNG,Manual,29.7,1500.0,SUV
7,8,Volkswagen,Taigun,2017.0,CNG,Manual,20.2,1800.0,Coupe
8,9,Renault,Lodgy,2015.0,Petrol,Manual,10.5,1800.0,Hatchback
9,10,Kia,EV6,2019.0,CNG,Automatic,16.1,1800.0,Coupe

In [10]:
car_rental["Brand"].unique()

<StringArray>
[       'Toyota',           'Kia', 'Maruti Suzuki',         'Honda',
    'Volkswagen',       'Renault',      'Mahindra',   'Tata Motors',
         'Skoda',       'Hyundai',             nan]
Length: 11, dtype: str

In [11]:
car_rental["Model"].unique()

<StringArray>
[       'Innova',           'EV6',         'Dzire',         'Amaze',
          'City',         'Sonet',        'Glanza',        'Taigun',
         'Lodgy',          'Jazz',         'Civic',         'Kiger',
       'Scorpio',         'Punch',      'Fortuner',        'Kushaq',
         'Tiago',        'Superb',         'Camry',        'XUV700',
             nan,        'Ertiga',        'Altroz',       'Harrier',
      'Carnival',          'Polo',         'Swift',         'Verna',
        'Slavia',         'Nexon',        'Virtus',        'Tiguan',
       'Octavia',        'Seltos',        'Bolero',          'Thar',
           'i10',         'Venue',         'Rapid',         'Creta',
          'WR-V',        'XUV300',           'i20', 'Urban Cruiser',
         'Vento',        'Baleno',        'Carens',          'Kwid',
        'Duster',        'Triber',        'WagonR']
Length: 51, dtype: str

In [12]:
car_rental.describe()

            Car_ID         Year      Mileage    Engine_CC
count  10000.00000  9995.000000  9995.000000  9993.000000
mean    5000.50000  2019.544372    19.971056  1542.199540
std     2886.89568     2.877338     5.777498   557.532169
min        1.00000  2015.000000    10.000000   800.000000
25%     2500.75000  2017.000000    14.900000  1000.000000
50%     5000.50000  2020.000000    20.000000  1500.000000
75%     7500.25000  2022.000000    25.000000  2000.000000
max    10000.00000  2024.000000    30.000000  2500.000000

Data Cleaning

In [13]:
car_rental.isna().value_counts()

Car_ID  Brand  Model  Year   Fuel_Type  Transmission  Mileage  Engine_CC  Body_Type
False   False  False  False  False      False         False    False      False        9964
                                                               True       False           7
                                        True          False    False      False           6
                             True       False         False    False      False           6
                             False      False         True     False      False           5
                      True   False      False         False    False      False           5
               True   False  False      False         False    False      False           3
        True   False  False  False      False         False    False      False           3
        False  False  False  False      False         False    False      True            1
Name: count, dtype: int64

In [14]:
a=car_rental.duplicated()
print(a.sum())

0

In [15]:
null_rows = car_rental[car_rental.isnull().any(axis=1)]
null_rows

,Car_ID,Brand,Model,Year,Fuel_Type,Transmission,Mileage,Engine_CC,Body_Type
24,25,Toyota,NaN,2020.0,Electric,Automatic,16.5,2000.0,SUV
100,101,Toyota,Innova,2020.0,Diesel,NaN,29.9,1800.0,Hatchback
105,106,Tata Motors,NaN,2015.0,Petrol,Manual,28.8,1800.0,Hatchback
109,110,Kia,Carens,2022.0,NaN,Manual,23.5,2500.0,Sedan
174,175,Maruti Suzuki,Ertiga,2016.0,CNG,NaN,19.5,1200.0,Sedan
371,372,Renault,Kiger,2015.0,NaN,Manual,12.7,1200.0,Convertible
464,465,Toyota,Glanza,2015.0,CNG,Manual,19.4,NaN,SUV
498,499,Renault,Kwid,2019.0,CNG,Automatic,NaN,1200.0,SUV
536,537,NaN,Sonet,2022.0,Diesel,Manual,28.4,2500.0,Convertible
705,706,Maruti Suzuki,Ertiga,2019.0,NaN,Automatic,16.7,2000.0,Convertible
765,766,Renault,Lodgy,2015.0,CNG,Manual,13.0,NaN,Convertible
878,879,Volkswagen,Tiguan,NaN,CNG,Manual,23.4,2500.0,Sedan
1042,1043,Volkswagen,Vento,2020.0,Electric,NaN,15.6,1200.0,SUV
1180,1181,Kia,EV6,NaN,Electric,Automatic,26.6,1000.0,Convertible
1220,1221,NaN,Nexon,2020.0,Petrol,Manual,21.1,2500.0,Convertible
1349,1350,Maruti Suzuki,WagonR,2019.0,Petrol,Automatic,NaN,1000.0,Convertible
1416,1417,Hyundai,Verna,2024.0,NaN,Automatic,24.4,2500.0,SUV
1567,1568,Skoda,Superb,2022.0,Electric,NaN,12.3,2500.0,Hatchback
4838,4839,Volkswagen,Polo,NaN,Diesel,Manual,24.1,1200.0,Hatchback
4861,4862,Maruti Suzuki,Baleno,2019.0,Electric,Manual,NaN,1200.0,Sedan
4866,4867,Honda,Jazz,2017.0,NaN,Manual,11.4,1200.0,Convertible
5614,5615,Mahindra,Thar,2024.0,Petrol,Manual,19.0,2500.0,NaN
7580,7581,Toyota,Fortuner,2024.0,NaN,Automatic,21.5,2000.0,Sedan
7597,7598,Maruti Suzuki,Swift,NaN,Diesel,Automatic,23.8,1800.0,Coupe
7600,7601,Mahindra,Bolero,2017.0,Electric,Manual,16.5,NaN,Coupe
7614,7615,Maruti Suzuki,NaN,2021.0,Electric,Manual,21.8,2500.0,Sedan
9199,9200,Honda,City,2022.0,Diesel,Automatic,NaN,1800.0,Coupe
9207,9208,NaN,Carnival,2016.0,Diesel,Automatic,17.1,1500.0,Coupe
9210,9211,Renault,Triber,2019.0,Electric,NaN,28.5,2500.0,Hatchback
9676,9677,Kia,Carnival,2022.0,Electric,NaN,25.0,1000.0,SUV
9697,9698,Skoda,Kushaq,2024.0,Diesel,Manual,21.6,NaN,Convertible
9701,9702,Honda,Amaze,2021.0,Diesel,Manual,21.9,NaN,SUV
9711,9712,Renault,Kiger,2016.0,Electric,Manual,21.7,NaN,SUV
9726,9727,Renault,Lodgy,2020.0,Diesel,Automatic,18.1,NaN,SUV
9742,9743,Renault,Kiger,2018.0,Electric,Manual,NaN,2000.0,Sedan
9748,9749,Skoda,Octavia,NaN,Electric,Manual,15.0,2000.0,Coupe

In [16]:
categories=car_rental.select_dtypes(include=['str']).columns
categories

Index(['Brand', 'Model', 'Fuel_Type', 'Transmission', 'Body_Type'], dtype='str')

In [17]:
car_rental[['Brand', 'Model', 'Fuel_Type', 'Transmission', 'Body_Type']].isnull().sum()

Brand           3
Model           3
Fuel_Type       6
Transmission    6
Body_Type       1
dtype: int64

In [18]:
for i in categories:
    car_rental[i]=car_rental[i].fillna("N/A")

In [19]:
car_rental.isna().sum()

Car_ID          0
Brand           0
Model           0
Year            5
Fuel_Type       0
Transmission    0
Mileage         5
Engine_CC       7
Body_Type       0
dtype: int64

In [20]:
numeric=car_rental.select_dtypes(include=['float'])
numeric

        Year  Mileage  Engine_CC
0     2024.0     27.3      800.0
1     2023.0     16.4     2500.0
2     2016.0     17.6     2000.0
3     2019.0     19.2     2500.0
4     2015.0     15.8     1000.0
...      ...      ...        ...
9995  2021.0     24.9     2500.0
9996  2024.0     21.4     1000.0
9997  2020.0     27.0     1200.0
9998  2020.0     24.3     1800.0
9999  2018.0     21.5     1200.0

[10000 rows x 3 columns]

In [21]:
for i in numeric:
    car_rental[i]=car_rental[i].fillna(car_rental[i].median())

In [22]:
car_rental

,Car_ID,Brand,Model,Year,Fuel_Type,Transmission,Mileage,Engine_CC,Body_Type
0,1,Toyota,Innova,2024.0,CNG,Manual,27.3,800.0,Sedan
1,2,Kia,EV6,2023.0,Diesel,Manual,16.4,2500.0,Convertible
2,3,Maruti Suzuki,Dzire,2016.0,Petrol,Manual,17.6,2000.0,Sedan
3,4,Honda,Amaze,2019.0,Petrol,Manual,19.2,2500.0,Convertible
4,5,Honda,City,2015.0,Electric,Manual,15.8,1000.0,Hatchback
...,...,...,...,...,...,...,...,...,...
9995,9996,Tata Motors,Altroz,2021.0,CNG,Automatic,24.9,2500.0,Coupe
9996,9997,Honda,WR-V,2024.0,Diesel,Automatic,21.4,1000.0,SUV
9997,9998,Mahindra,XUV300,2020.0,Electric,Manual,27.0,1200.0,Hatchback
9998,9999,Renault,Duster,2020.0,Diesel,Manual,24.3,1800.0,Hatchback
9999,10000,Toyota,Urban Cruiser,2018.0,CNG,Automatic,21.5,1200.0,SUV

In [23]:
car_rental.to_csv(
    "dataset/car_rental_cleaned.csv",
    index=False
)