In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
df=pd.read_csv("../dataset\car_rental_cleaned.csv")
df

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\HP\AppData\Local\Temp\ipykernel_17316\3261162866.py:1: SyntaxWarning: invalid escape sequence '\c'
  df=pd.read_csv("../dataset\car_rental_cleaned.csv")

,Car_ID,Brand,Model,Year,Fuel_Type,Transmission,Mileage,Engine_CC,Body_Type
0,1,Toyota,Innova,2024.0,CNG,Manual,27.3,800.0,Sedan
1,2,Kia,EV6,2023.0,Diesel,Manual,16.4,2500.0,Convertible
2,3,Maruti Suzuki,Dzire,2016.0,Petrol,Manual,17.6,2000.0,Sedan
3,4,Honda,Amaze,2019.0,Petrol,Manual,19.2,2500.0,Convertible
4,5,Honda,City,2015.0,Electric,Manual,15.8,1000.0,Hatchback
...,...,...,...,...,...,...,...,...,...
9995,9996,Tata Motors,Altroz,2021.0,CNG,Automatic,24.9,2500.0,Coupe
9996,9997,Honda,WR-V,2024.0,Diesel,Automatic,21.4,1000.0,SUV
9997,9998,Mahindra,XUV300,2020.0,Electric,Manual,27.0,1200.0,Hatchback
9998,9999,Renault,Duster,2020.0,Diesel,Manual,24.3,1800.0,Hatchback
9999,10000,Toyota,Urban Cruiser,2018.0,CNG,Automatic,21.5,1200.0,SUV

In [21]:
categories=df.select_dtypes(include=['str']).columns
categories

Index(['Brand', 'Model', 'Fuel_Type', 'Transmission', 'Body_Type'], dtype='str')

In [22]:
numeric=df.select_dtypes(include=['int','float']).columns
numeric

Index(['Car_ID', 'Year', 'Mileage', 'Engine_CC'], dtype='str')

In [23]:
for i in categories:
    df[i]=df[i].str.lower().str.strip()
df[categories]

              Brand          Model Fuel_Type Transmission    Body_Type
0            toyota         innova       cng       manual        sedan
1               kia            ev6    diesel       manual  convertible
2     maruti suzuki          dzire    petrol       manual        sedan
3             honda          amaze    petrol       manual  convertible
4             honda           city  electric       manual    hatchback
...             ...            ...       ...          ...          ...
9995    tata motors         altroz       cng    automatic        coupe
9996          honda           wr-v    diesel    automatic          suv
9997       mahindra         xuv300  electric       manual    hatchback
9998        renault         duster    diesel       manual    hatchback
9999         toyota  urban cruiser       cng    automatic          suv

[10000 rows x 5 columns]

In [24]:
df[numeric].describe()

            Car_ID          Year       Mileage     Engine_CC
count  10000.00000  10000.000000  10000.000000  10000.000000
mean    5000.50000   2019.544600     19.971070   1542.170000
std     2886.89568      2.876637      5.776053    557.338096
min        1.00000   2015.000000     10.000000    800.000000
25%     2500.75000   2017.000000     14.900000   1000.000000
50%     5000.50000   2020.000000     20.000000   1500.000000
75%     7500.25000   2022.000000     25.000000   2000.000000
max    10000.00000   2024.000000     30.000000   2500.000000

In [25]:
df.to_csv("../dataset/car_rental_cbf.csv", index=False)

In [26]:
df1=pd.read_csv("../dataset/car_rental_cbf.csv")
df1

,Car_ID,Brand,Model,Year,Fuel_Type,Transmission,Mileage,Engine_CC,Body_Type
0,1,toyota,innova,2024.0,cng,manual,27.3,800.0,sedan
1,2,kia,ev6,2023.0,diesel,manual,16.4,2500.0,convertible
2,3,maruti suzuki,dzire,2016.0,petrol,manual,17.6,2000.0,sedan
3,4,honda,amaze,2019.0,petrol,manual,19.2,2500.0,convertible
4,5,honda,city,2015.0,electric,manual,15.8,1000.0,hatchback
...,...,...,...,...,...,...,...,...,...
9995,9996,tata motors,altroz,2021.0,cng,automatic,24.9,2500.0,coupe
9996,9997,honda,wr-v,2024.0,diesel,automatic,21.4,1000.0,suv
9997,9998,mahindra,xuv300,2020.0,electric,manual,27.0,1200.0,hatchback
9998,9999,renault,duster,2020.0,diesel,manual,24.3,1800.0,hatchback
9999,10000,toyota,urban cruiser,2018.0,cng,automatic,21.5,1200.0,suv

In [27]:
category=df1.select_dtypes(include=['str']).columns
category
df[category].isnull().sum()

Brand           0
Model           0
Fuel_Type       0
Transmission    0
Body_Type       0
dtype: int64

In [28]:
numerics=df1.select_dtypes(include=['int','float']).columns
numerics

Index(['Car_ID', 'Year', 'Mileage', 'Engine_CC'], dtype='str')

In [29]:
df1["feature_text"] = df1[category].astype(str).agg(" ".join, axis=1)
df1["feature_text"]

0                  toyota innova cng manual sedan
1               kia ev6 diesel manual convertible
2         maruti suzuki dzire petrol manual sedan
3           honda amaze petrol manual convertible
4            honda city electric manual hatchback
                          ...
9995       tata motors altroz cng automatic coupe
9996              honda wr-v diesel automatic suv
9997    mahindra xuv300 electric manual hatchback
9998       renault duster diesel manual hatchback
9999       toyota urban cruiser cng automatic suv
Name: feature_text, Length: 10000, dtype: str

TF IDF Vectorization

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [31]:
tfidf = TfidfVectorizer()

In [32]:
car_tfidf_matrix = tfidf.fit_transform(df1["feature_text"])

In [33]:
car_tfidf_matrix.shape

(10000, 75)

In [34]:
car_tfidf_matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 52213 stored elements and shape (10000, 75)>

In [35]:
tfidf.get_feature_names_out()

array(['altroz', 'amaze', 'automatic', 'baleno', 'bolero', 'camry',
       'carens', 'carnival', 'city', 'civic', 'cng', 'convertible',
       'coupe', 'creta', 'cruiser', 'diesel', 'duster', 'dzire',
       'electric', 'ertiga', 'ev6', 'fortuner', 'glanza', 'harrier',
       'hatchback', 'honda', 'hyundai', 'i10', 'i20', 'innova', 'jazz',
       'kia', 'kiger', 'kushaq', 'kwid', 'lodgy', 'mahindra', 'manual',
       'maruti', 'motors', 'nexon', 'octavia', 'petrol', 'polo', 'punch',
       'rapid', 'renault', 'scorpio', 'sedan', 'seltos', 'skoda',
       'slavia', 'sonet', 'superb', 'suv', 'suzuki', 'swift', 'taigun',
       'tata', 'thar', 'tiago', 'tiguan', 'toyota', 'triber', 'unknown',
       'urban', 'vento', 'venue', 'verna', 'virtus', 'volkswagen',
       'wagonr', 'wr', 'xuv300', 'xuv700'], dtype=object)

In [36]:
tfidf_df=pd.DataFrame(car_tfidf_matrix.toarray(),columns=tfidf.get_feature_names_out())
tfidf_df

,altroz,amaze,automatic,baleno,bolero,camry,carens,carnival,city,civic,...,urban,vento,venue,verna,virtus,volkswagen,wagonr,wr,xuv300,xuv700
0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
1,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
2,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
3,0.000000,0.675723,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
4,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.69562,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.630639,0.000000,0.217051,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
9996,0.000000,0.000000,0.234918,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.705015,0.000000,0.0
9997,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.690441,0.0
9998,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
9999,0.000000,0.000000,0.194939,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.571861,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0

Cosine Similarity

In [37]:
from sklearn.metrics.pairwise import cosine_similarity

In [47]:
def build_user_profile(user_preferences, tfidf):
    """    Converts user-selected categorical preferences into a TF-IDF vector
    """
    user_text = (
        user_preferences["Brand"] + " " +
        user_preferences["Fuel_Type"] + " " +
        user_preferences["Transmission"] + " " +
        user_preferences["Body_Type"]
    )
    
    user_vector = tfidf.transform([user_text])
    return user_vector

In [51]:
def apply_numeric_filters(df1, preferences):
    """
    Apply numeric filters: Mileage and Engine_CC only
    """

    filtered_df = df1.copy()

    # Minimum mileage
    if "min_mileage" in preferences and preferences["min_mileage"] is not None:
        filtered_df = filtered_df[
            filtered_df["Mileage"] >= preferences["min_mileage"]
        ]

    # Maximum engine capacity
    if "max_engine_cc" in preferences and preferences["max_engine_cc"] is not None:
        filtered_df = filtered_df[
            filtered_df["Engine_CC"] <= preferences["max_engine_cc"]
        ]

    return filtered_df

In [52]:
from sklearn.metrics.pairwise import cosine_similarity

def recommend_cbf(
    user_preferences,
    df1,
    car_tfidf_matrix,
    tfidf,
    top_n=5
):
    # 1. Build user preference text
    user_text = (
        user_preferences["Brand"] + " " +
        user_preferences["Fuel_Type"] + " " +
        user_preferences["Transmission"] + " " +
        user_preferences["Body_Type"]
    )

    user_vector = tfidf.transform([user_text])

    # 2. Compute cosine similarity
    similarity_scores = cosine_similarity(
        user_vector,
        car_tfidf_matrix
    )[0]

    df1 = df1.copy()
    df["similarity_score"] = similarity_scores

    # 3. Apply numeric filters (Mileage + CC)
    df_filtered = apply_numeric_filters(df1, user_preferences)

    # 4. Rank and return Top-N
    recommendations = df_filtered.sort_values(
        by="similarity_score",
        ascending=False
    ).head(top_n)

    return recommendations[[
        "Car_ID",
        "Brand",
        "Model",
        "Fuel_Type",
        "Transmission",
        "Body_Type",
        "Mileage",
        "Engine_CC",
        "similarity_score"
    ]]